.details-container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(254, 251, 248);
}
.detail-page{
    width: 90%;
    height: 80vh;
    margin: auto;
    padding-top: 6%;
    padding-bottom: 5%;
}
.details-img{
    border: 1px solid bisque;
    background-color:rgb(248, 242, 234) ;
}
.details-img img{
    width: 100%;
    animation: turn 2s alternate;
}

@keyframes turn {
    0%{
     transform: scale(0.5);
    }
    50% {
     transform: scale(1);
    }
}
.details{
    margin: auto;
    text-align: left;
    padding: 0px 50px 0px 30px;
}
